<section class="collections-section mb-5 pb-5 border-bottom">
  <h2 class="section-title">All Collections</h2>
  <div class="container">
    <ng-container *ngIf="!isLoading; else content">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-container>
    <ng-template #content>
      <ng-container *ngIf="collections.length > 0; else noCollections">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
          <div class="col" *ngFor="let collection of collections">
            <div class="card h-100" (click)="goToCollectionDetails(collection.id)">
              <div class="card h-100 item-card d-flex flex-column">
                <img
                  [src]="collection.imageUrl || 'assets/logo.png'"
                  height="200"
                  width="150"
                  class="card-img-top item-image"
                  [alt]="collection.name"
                  onerror="this.src='assets/logo.png'"
                />
                <div class="card-body flex-grow-1">
                  <h5 class="card-title item-title">{{ collection.name }}</h5>
                  <p class="card-text item-details">
                    <small class="text-muted">{{ collection.topic }}</small><br />
                    <small class="text-muted">Items quantity: {{ collection.itemCount }}</small><br />
                    <small class="text-muted">
                      Created by
                      <a
                        href="javascript:void(0);"
                        (click)="goToUserProfile(collection.userId); $event.stopPropagation()"
                        class="text-decoration-none"
                      >{{ collection.userName }}</a>
                    </small>
                  </p>
                  <div class="card-footer bg-transparent d-flex justify-content-center align-items-center">
                    <small class="text-center">Click to view details</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </div>
</section>

<ng-template #noCollections>
  <div class="alert alert-info" role="alert">
    No Collections are available at the moment.
  </div>
</ng-template>
