<nav class="navbar navbar-expand-lg navbar-light border-bottom">
  <div class="container-fluid">
    <!-- Brand Section -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <div class="rounded-circle p-2 me-2">
        <img
          src="assets/logo.png"
          class="h-8 mr-3"
          width="40"
          height="40"
          alt="Flowbite Logo"
        />
      </div>
      <span class="navbar-text mx-auto fw-bold">Collectify</span>
    </a>

    <!-- Navbar Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [ngClass]="{ show: !isMenuCollapsed }"
    >
      <!-- Left Navigation Links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fa fa-home" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/collection-list"
            routerLinkActive="active"
          >
            <i class="fa fa-list-alt" aria-hidden="true"></i> Collections
          </a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
            <i class="bi bi-gear"></i> Dashboard
          </a>
        </li>
      </ul>

      <!-- Right Navigation Section -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <!-- Search Section -->
        <li class="nav-item me-2 mb-2 mb-lg-0">
          <div class="search-container">
            <input
              type="text"
              [(ngModel)]="searchQuery"
              (keydown.enter)="search()"
              class="search-input"
              placeholder="Search..."
              aria-label="Search"
            />
            <button
              (click)="search()"
              class="search-btn"
              aria-label="Search button"
            >
              <i class="fas fa-search"></i>
            </button>
          </div>
        </li>

        <!-- Dark Mode Toggle -->
        <li class="nav-item me-2 mb-2 mb-lg-0">
          <button
            (click)="toggleDarkMode()"
            class="btn btn-icon"
            type="button"
            aria-label="Toggle dark mode"
          >
            <i
              [ngClass]="
                darkModeService.darkModeSignal() === 'dark'
                  ? 'fas fa-moon'
                  : 'fas fa-sun'
              "
            ></i>
          </button>
        </li>

        <!-- Language Toggle -->
        <li class="nav-item me-2 mb-2 mb-lg-0">
          <button
            (click)="toggleLanguage()"
            class="btn btn-icon"
            type="button"
            aria-label="Toggle language"
          >
            <img
              *ngIf="currentLanguage === 'en'"
              src="assets/english.svg"
              alt="English icon"
              width="20"
              height="20"
            />
            <img
              *ngIf="currentLanguage === 'bn'"
              src="assets/bangladesh.svg"
              alt="Bangladesh icon"
              width="20"
              height="20"
            />
          </button>
        </li>

        <!-- Profile Dropdown -->
        <li class="nav-item mb-2 mb-lg-0" *ngIf="userIsLoggedIn">
          <div class="dropdown">
            <button
              class="btn btn-icon"
              aria-label="Profile options"
              (click)="toggleOpenProfileDropdown($event)"
            >
              <i
                class="fas fa-user-circle fa-lg"
                [ngClass]="{
                  'text-light': darkModeService.darkModeSignal() === 'dark',
                  'text-dark': darkModeService.darkModeSignal() !== 'dark'
                }"
              ></i>
            </button>
            <div
              class="dropdown-menu"
              [ngClass]="{
                show: isProfileDropdownOpen,
                'dropdown-menu-dark':
                  darkModeService.darkModeSignal() === 'dark'
              }"
            >
              <a
                class="dropdown-item"
                (click)="openProfil(userId!)"
                [ngClass]="{
                  'text-light': darkModeService.darkModeSignal() === 'dark',
                  'text-primary': darkModeService.darkModeSignal() !== 'dark'
                }"
              >
                <i class="fas fa-user me-2"></i>Profile
              </a>
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item"
                (click)="logout()"
                [ngClass]="{
                  'text-danger': darkModeService.darkModeSignal() !== 'dark',
                  'text-warning': darkModeService.darkModeSignal() === 'dark'
                }"
              >
                <i class="fas fa-sign-out-alt me-2"></i>Logout
              </a>
            </div>
          </div>
        </li>
        <!-- Sign In/Sign Up Buttons -->
        <li class="nav-item d-flex" *ngIf="!userIsLoggedIn">
          <button
            class="btn btn-outline-primary btn-sm me-2"
            (click)="modalService.open(signinModal)"
          >
            Sign In
          </button>
          <button
            class="btn btn-primary btn-sm"
            (click)="modalService.open(signupModal)"
          >
            Sign Up
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Sign In Modal -->
<ng-template #signinModal let-modal>
  <div
    [attr.data-bs-theme]="darkModeService.darkModeSignal()"
    [ngClass]="{
      'bg-dark text-light': darkModeService.darkModeSignal() === 'dark',
      'bg-body-tertiary text-body-secondary':
        darkModeService.darkModeSignal() !== 'dark'
    }"
    class="modal-content rounded-3 shadow-lg p-4"
  >
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="modal-title">Sign In</h5>
      <button
        type="button"
        class="btn-close btn-outline-primary"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <form [formGroup]="signinForm" (ngSubmit)="onSigninSubmit()">
      <div class="mb-3">
        <label for="signinEmail" class="form-label">Email</label>
        <input
          type="email"
          class="form-control rounded-pill"
          id="signinEmail"
          formControlName="email"
          required
        />
        <div
          *ngIf="
            signinForm.get('email')?.invalid && signinForm.get('email')?.touched
          "
          class="text-danger mt-1"
        >
          <small *ngIf="signinForm.get('email')?.errors?.['required']"
            >Email is required.</small
          >
          <small *ngIf="signinForm.get('email')?.errors?.['email']"
            >Enter a valid email.</small
          >
        </div>
      </div>

      <div class="mb-3">
        <label for="signinPassword" class="form-label">Password</label>
        <input
          type="password"
          class="form-control rounded-pill"
          id="signinPassword"
          formControlName="password"
          required
        />
        <div
          *ngIf="
            signinForm.get('password')?.invalid &&
            signinForm.get('password')?.touched
          "
          class="text-danger mt-1"
        >
          <small *ngIf="signinForm.get('password')?.errors?.['required']"
            >Password is required.</small
          >
          <small *ngIf="signinForm.get('password')?.errors?.['minlength']"
            >Password must be at least 4 characters long.</small
          >
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button
          type="submit"
          class="btn btn-primary rounded-pill px-4"
          [disabled]="signinForm.invalid"
        >
          Sign In
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Sign Up Modal -->
<ng-template #signupModal let-modal>
  <div
    [attr.data-bs-theme]="darkModeService.darkModeSignal()"
    [ngClass]="{
      'bg-dark text-light': darkModeService.darkModeSignal() === 'dark',
      'bg-body-tertiary text-body-secondary':
        darkModeService.darkModeSignal() !== 'dark'
    }"
    class="modal-content rounded-3 shadow-lg p-4"
  >
    <div class="modal-header border-bottom-0">
      <h5 class="modal-title">Sign Up</h5>
      <button
        type="button"
        class="btn-close btn-outline-primary"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="signupForm">
        <div class="form-group mb-3">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control rounded-pill"
            id="name"
            formControlName="name"
            required
          />
          <div
            *ngIf="
              signupForm.get('name')?.invalid && signupForm.get('name')?.touched
            "
            class="text-danger mt-1"
          >
            <small *ngIf="signupForm.get('name')?.errors?.['required']"
              >Name is required.</small
            >
            <small *ngIf="signupForm.get('name')?.errors?.['minlength']"
              >Name must be at least 3 characters long.</small
            >
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control rounded-pill"
            id="email"
            formControlName="email"
            required
          />
          <div
            *ngIf="
              signupForm.get('email')?.invalid &&
              signupForm.get('email')?.touched
            "
            class="text-danger mt-1"
          >
            <small *ngIf="signupForm.get('email')?.errors?.['required']"
              >Email is required.</small
            >
            <small *ngIf="signupForm.get('email')?.errors?.['email']"
              >Enter a valid email.</small
            >
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control rounded-pill"
            id="password"
            formControlName="password"
            required
          />
          <div
            *ngIf="
              signupForm.get('password')?.invalid &&
              signupForm.get('password')?.touched
            "
            class="text-danger mt-1"
          >
            <small *ngIf="signupForm.get('password')?.errors?.['required']"
              >Password is required.</small
            >
            <small *ngIf="signupForm.get('password')?.errors?.['minlength']"
              >Password must be at least 4 characters long.</small
            >
          </div>
        </div>

        <!-- Profile Image Upload -->
        <div class="col-12">
          <label for="profile-image" class="form-label">Profile Image</label>
          <div
            class="profile-image-container border rounded-3 p-3 text-center d-flex justify-content-center align-items-center"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event)"
            (click)="fileInput.click()"
            style="height: 200px; cursor: pointer"
          >
            <img
              [src]="profileImageUrl"
              alt="Profile Image"
              class="img-fluid rounded-3"
              *ngIf="profileImageUrl"
              style="max-width: 100%; max-height: 100%; object-fit: cover"
            />
            <div *ngIf="!profileImageUrl" class="text-muted">
              <i class="bi bi-cloud-upload fs-1"></i>
              <p class="mt-2">
                Drag and drop your profile image here<br />or click to select
              </p>
            </div>
          </div>
          <input
            #fileInput
            type="file"
            class="form-control mt-2"
            id="profile-image"
            (change)="onFileSelected($event)"
            accept="image/*"
            hidden
          />
        </div>

        <div class="d-flex justify-content-end mt-3">
          <button
            type="submit"
            class="btn btn-primary rounded-pill px-4"
            [disabled]="signupForm.invalid"
            (click)="onSubmit()"
          >
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
