<footer class="mt-5">
  <div class="container py-4">
    <div class="row">
      <div class="col-lg-6 mb-3 mb-lg-0">
        <a href="#" class="text-decoration-none">
          <h5>Collectify</h5>
        </a>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline text-lg-end mb-0">
          <li class="list-inline-item"><a href="#" class="text-decoration-none">About</a></li>
          <li class="list-inline-item"><a href="#" class="text-decoration-none">Privacy Policy</a></li>
          <li class="list-inline-item"><a href="#" class="text-decoration-none">Licensing</a></li>
          <li class="list-inline-item"><a href="#" class="text-decoration-none">Contact</a></li>
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <div class="text-center">
      <small>© 2024 Collectify™. All Rights Reserved.</small>
    </div>
  </div>
</footer>
